<a href="https://colab.research.google.com/github/tanphat2008/AI/blob/main/Ai_w8_24_3_23_ss2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.linear_model import Perceptron

In [ ]:
url= 'lung_cancer_examples.csv'
data=pd.read_csv(url)
data.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [ ]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [ ]:
x=data.loc[:,['AreaQ']]
y=data.loc[:,['Result']]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [ ]:
sc=StandardScaler()
sc.fit(x_train)
x_train_std= sc.transform(x_train)
x_test_std= sc.transform(x_test)

In [ ]:
model=Perceptron(max_iter=40, eta0=0.1, random_state=0)
model.fit(x_train,y_train)
y_pred= model.predict(x_test)
print(y_test)
print(y_pred)
print('do chinh xac khi chua scale:',accuracy_score(y_test,y_pred))

    Result
50       0
33       1
40       1
25       0
51       1
49       1
45       0
28       1
42       1
37       1
1        1
4        1
6        0
11       0
2        0
36       1
35       0
27       0
[0 1 1 0 1 0 0 1 0 0 1 0 0 0 0 1 0 0]
do chinh xac khi chua scale: 0.7777777777777778

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
model=Perceptron(max_iter=40, eta0=0.1, random_state=0)
model.fit(x_train_std,y_train)
y_pred= model.predict(x_test_std)
print(y_test)
print(y_pred)
print('do chinh xac khi scale:',accuracy_score(y_test,y_pred))

    Result
50       0
33       1
40       1
25       0
51       1
49       1
45       0
28       1
42       1
37       1
1        1
4        1
6        0
11       0
2        0
36       1
35       0
27       0
[0 1 1 0 1 0 0 1 0 0 1 0 0 0 0 1 0 0]
do chinh xac khi scale: 0.7777777777777778

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)